.cursive {
    font-style: oblique;
}

.textBold {
    font-size: inherit;
    font-family: var(--font-style-2);
}

.seccionsPadding {
    padding: 2rem 1rem;
    padding-top: 4rem;
}

.displayNone {
    display: none;
}

