.cursive {
    font-style: oblique;
}

.textBold {
    font-size: inherit;
    font-family: var(--font-style-2);
}

.seccionsPadding {
    padding: 3rem 1rem;
}

.displayNone {
    display: none;
}

.iconsTextBold {
    font-family: 'GothamBold', sans-serif;
    font-size: 2.5rem;
}

/*************************************************************************/

.seccionToWaitImages {
    opacity: 0;
}

.opacityOnCharge {
    animation-name: opacityOnCharge;
    animation-duration: 0.75s;
    animation-fill-mode: forwards;
    animation-timing-function: ease-out;
    opacity: 0;
}

@keyframes opacityOnCharge {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

.opacityOnCharge1s5 {
    animation-duration: 1.5s;
}

.opacityOnCharge0s5 {
    animation-duration: 0.5s;
}

/********************************** OoS ********************************/

.OoS {
    opacity: 0;
}

.OoSS {
    animation-name: animationOfScroll; 
    animation-duration: 1s;
    animation-timing-function: ease-out;
    animation-fill-mode: forwards;
}

@keyframes animationOfScroll {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

